# I suggest using a YAML parser
discord:
 token: 'DISCORD_TOKEN_HERE'
 prefix: '!'
 ownerUserID: '4328943191124'
 playing: 'DM to report a bug' 
mongo: 
 host: 'localhost'
 port: 27017
 database: 'discord_reports'
reports:
 mainGuildID: '8908421498124'
 reportsChannelID: '1241231583531'
 questions: 
  - "What's the color of the sky?"
  - "What's the color of the ocean?"
  - "What's the color of the moon?"